.logo {
    margin-top: 4.115vw;
    width: 4.04vw;
    height: 4.646vw;
@media (max-width: 1365px){
  width: 5.861vw;
  height: 6.813vw;
}
@media (max-width: 767px){
width: 20vw;
height: 23.084vw;
}
  }