// Blue
// $primary-darker:#032862;
// $primary-dark:#0707FF;
// $primary:#00ffff;
// $primary-light:#00ffff;

// Purple
$primary-darker:#1a024b;
$primary-dark:#4D2899;
$primary:#b200ff;
$primary-light:#e1b4f4;

$yellow : #ffd500;
$white : #fff;
